.intro-header {
    padding-top: 0%;
    padding-bottom: 0px;
    text-align: center;
    background: #1f1f1f url(../img/code-1.jpg) no-repeat center;
    background-size: 100% 150%;
}

.intro-divider {
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.about {
    display: block;
    margin: 0;
    padding: 0;
    padding-right: 10%;
    padding-left: 10%;
}