.header {
	background-image: url(../img/trees.jpg);

	transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

@media screen and (max-width: 580px) {
	.header .header-divider {
		margin: -25px 10% 15px 10%;
	}
}

.languages_and_tools ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.languages_and_tools li {
	display: inline-block;
	font-size: 2em;
	padding: 10px 10px 0px 10px;
}

@media screen and (max-width: 850px) {
	.languages_and_tools li {
		width: 50%;
	}
}

#templateLanguage {
	display: none;
}