.intro-header {
    padding-top: 0%;
    padding-bottom: 0px;
    text-align: center;
    background: #1f1f1f url(../img/code-2.jpg) no-repeat center -8em;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.intro-divider {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.nav-bar {
    width: 100%;
    background: url(../img/nav-bar-bg.png);
    position: absolute;
    z-index: 999;
    vertical-align: bottom;
}

.home {
    display: block;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}