.intro-header {
    padding-top: 0%;
    padding-bottom: 0px;
    text-align: center;
    background: #1f1f1f url(../img/code.jpg) no-repeat center -8em;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.intro-divider {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.nav-bar {
    width: 100%;
    background: url(../img/nav-bar-bg.png);
    position: absolute;
    z-index: 999;
    vertical-align: bottom;
}

.projects {
    display: block;
    position: relative;
    margin: 0;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    overflow-x: hidden;
}

img {
    width: 75%;
    padding: 0;
    margin: 0;
}

.previous {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    position: relative;
}

.previous > img {
    margin: 0;
    padding: 0;
    margin-top: 20%;
    display: inline-block;
    width:4%;
    vertical-align: top;
}

.previous > div {
    display: inline-block;
}

.hexagon-fort {
    text-align: center;
    display: block;
    position: relative;
    z-index: 901;
}

.hexagon-fort > img {
    margin: 0;
    display: inline-block;
    padding: 0;
    width: 30%;
    padding-right: 1%; 
    padding-left: 1%;
    vertical-align: top;
    overflow-x: visible;

    transition-duration: 0.5s;
    transition-property: transform;
    transform-style: linear;
}

.hexagon-fort > img:hover {
    transform: scale(1.5);
}

.projects-ios {
    display: block;
    position: relative;
    text-align: center;
    float:center;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tweak {
    margin: 0;
    text-align: center;
    position: relative;
    float:center;
    display: inline-block;
    width: 24%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes fadeInFromRight{
    from {opacity: 0; left: 21.25%}
    to   {opacity: 1; left: 0%;}
}

@keyframes slideFromRight{
    from {left: 21.25%}
    to   {left: 0%;} 
}

@keyframes fadeInFromLeft{
    from {opacity: 0; left: -21.25%}
    to   {opacity: 1; left: 0%;}   
}

@keyframes slideFromLeft{
    from {left: -21.25%}
    to   {left: 0%;} 
}

@keyframes fadeSlideButton{
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

.tweak > a {
    display: inline-block;
    position: relative;
    z-index: 900;
}

.tweak > img {
    margin: 0;
    padding: 0;
}

.tweak > h5 {
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.tweak > h3 {
    text-align: center;
}

.applications-ios {
    display: inline-block;
    position: relative;
    text-align: center;
    float: center;
    margin-bottom: 2%;
}

.application-ios {
    margin: 0;
    text-align: center;
    position: relative;
    float:center;
    display: inline-block;
    width: 19%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

.application-ios > a {
    display: inline-block;
    position: relative;
    z-index: 900;
}

.application-ios > h5 {
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.application-ios > h3 {
    text-align: center;
}

a {
    position: relative;
    z-index: 900;
}

ul.weeks-tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
}

ul.weeks-tab li {
    float: left;
    padding: 0.5% 3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: none;
}

ul.weeks-tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

ul.weeks-tab li.selected {
    background-color: white;
}

ul.weeks-tab li.selected a {
    color: black;
}

.weeks-content {
    border-top: 1px solid white;
    display: inline-block;
    width: 100%;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.arrows:hover {
    cursor: pointer;
    cursor: hand;
}

.week-game {
    text-align: center;
    display: block;
    position: relative;
    z-index: 901;
}

.week-game > img {
    margin: 0;
    display: inline-block;
    padding: 0;
    width: 30%;
    padding-right: 1%; 
    padding-left: 1%;
    vertical-align: top;
    overflow-x: visible;

    transition-duration: 0.5s;
    transition-property: transform;
    transform-style: linear;
}

.week-game > img:hover {
    transform: scale(1.5);
}