.intro-header {
    padding-top: 0%;
    padding-bottom: 0px;
    text-align: center;
    background: #1f1f1f url(../img/code.jpg) no-repeat center -8em;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.intro-divider {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.nav-bar {
    width: 100%;
    background: url(../img/nav-bar-bg.png);
    position: absolute;
    z-index: 999;
    vertical-align: bottom;
}

.projects {
    display: block;
    position: relative;
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    overflow-x: hidden;
}

img {
    width: 75%;
    padding: 2%;
    margin: 0px;
}

.previous {
    text-align: center;
    display: inline;
    position: relative;
}

.previous > img {
    margin-top: 20%;
    display: inline-block;
    padding: 0;
    width:5%;
    vertical-align: top;
}

.previous > div {
    display: inline;
}

.hexagon-fort {
    text-align: center;
    display: inline;
    position: relative;
}

.hexagon-fort > img {
    margin-top: 30%;
    display: inline-block;
    padding: 0;
    width:5%;
    vertical-align: top;
}

.hexagon-fort > div {
    display: inline;
}

#hexagonfort-slide {
    width: 80%;
}

.projects-ios {
    display: inline-block;
    position: relative;
    text-align: center;
    float:center;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tweak {
    margin: 0px;
    text-align: center;
    position: relative;
    float:center;
    display: inline-block;
    width: 21.25%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes fadeInFromRight{
    from {opacity: 0; left: 21.25%}
    to   {opacity: 1; left: 0%;}
}

@keyframes slideFromRight{
    from {left: 21.25%}
    to   {left: 0%;} 
}

@keyframes fadeInFromLeft{
    from {opacity: 0; left: -21.25%}
    to   {opacity: 1; left: 0%;}   
}

@keyframes slideFromLeft{
    from {left: -21.25%}
    to   {left: 0%;} 
}

@keyframes fadeSlideButton{
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

.tweak > a {
    display: inline-block;
}

.tweak > h5{
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.tweak > h3 {
    text-align: center;
}