.intro-header {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    background: #1f1f1f url(../img/code.jpg) no-repeat center;
    background-size: 100% 100%;
}

.intro-divider {
    width: 60vh;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.projects {
    display: block;
    margin: 0;
    padding: 0;
    padding-right: 10vh;
    padding-left: 10vh;
    transition: all .25s linear;
}

@media screen and (max-width: 640px) {
    .projects {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}

img {
    width: 75%;
    padding: 0;
    margin: 0;
}

.previous {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    position: relative;
}

.arrows {
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 20%;
    display: inline-block;
    width: 3%;
    vertical-align: top;
    z-index: 901;
}

.previous > div {
    display: inline-block;
}

.hexagon-fort {
    text-align: center;
    display: block;
    position: relative;
    z-index: 901;
}

.hexagon-fort > img {
    margin: 0;
    display: inline-block;
    padding: 0;
    max-width: 25em;
    min-width: 15em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    vertical-align: top;
    overflow-x: visible;

    transition-duration: 0.5s;
    transition-property: transform;
    transform-style: linear;
}

.hexagon-fort > img:hover {
    transform: scale(1.5);
}

.projects-ios {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: -15%;
    margin-right: -15%;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.tweak {
    margin: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 25%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1vw;
}

.tweak-animating {
    margin: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 25%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1vw;
}

.tweak-small {
    opacity: 0.66;
    margin: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 18%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 0.72vw;
}

.tweak-hidden {
    opacity: 0;
    margin: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 15%;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 0.6vw;
    pointer-events: none;
}

.tweak-animating > center {
    opacity: 0;
    pointer-events: none;
}

.tweak > center {
    opacity: 1;
    pointer-events: auto;
}

.tweak-small > center {
    opacity: 0;
    pointer-events: none;
}

.tweak-hidden > center {
    opacity: 0;
    pointer-events: none;
}


@keyframes fadeInFromRight {
    from {
        opacity: 0;
        left: 15%;
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 15%;
        font-size: 0.6vw;
    }
    to {
        opacity: 0.66;
        left: 0%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
}

@keyframes fadeOutFromRight {
    from {
        opacity: 0.66;
        left: 15%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
    to {
        opacity: 0;
        left: 0%;
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 15%;
        font-size: 0.6vw;
    }
}

@keyframes slideFromRightToBigger {
    from {
        opacity: 0.66;
        left: 15%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
    to {
        opacity: 1;
        left: 0%;
        margin: 0;
        width: 25%;
        font-size: 1vw;
    }
}

@keyframes slideFromRightToSmaller {
    from {
        opacity: 1;
        left: 15%;
        margin: 0;
        width: 25%;
        font-size: 1vw;
    }
    to {
        opacity: 0.66;
        left: 0%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
}

@keyframes fadeInFromLeft{
    from {
        opacity: 0;
        left: -15%;
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 15%;
        font-size: 0.6vw;
    }
    to {
        opacity: 0.66;
        left: 0%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
}

@keyframes fadeOutFromleft {
    from {
        opacity: 0.66;
        left: -15%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
    to {
        opacity: 0;
        left: 0%;
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 15%;
        font-size: 0.6vw;
    }
}

@keyframes slideFromLeftToBigger {
    from {
        opacity: 0.66;
        left: -15%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
    to {
        opacity: 1;
        left: 0%;
        margin: 0;
        width: 25%;
        font-size: 1vw;
    }
}

@keyframes slideFromLeftToSmaller {
    from {
        opacity: 1;
        left: -15%;
        margin: 0;
        width: 25%;
        font-size: 1vw;
    }
    to {
        opacity: 0.66;
        left: 0%;
        margin: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 18%;
        font-size: 0.72vw;
    }
}

@keyframes fadeInText {
    from {opacity: 0;}
    to   {opacity: 1;}
}

@keyframes fadeOutText {
    from {opacity: 1;}
    to   {opacity: 0;}
}

h5 {
    z-index: 100;
}

.tweak > a {
    display: inline-block;
    position: relative;
    z-index: 900;
}

.tweak > img {
    margin: 0;
    padding: 0;
}

.tweak > h5 {
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.tweak > h3 {
    text-align: center;
}

.applications-ios {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 2vh;
}

.application-ios {
    margin: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    min-width: 25vh;
    max-width: 33vh;
    padding:0;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

.application-ios > a {
    display: inline-block;
    position: relative;
    z-index: 900;
}

.application-ios > h5 {
    text-align: left;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
}

.application-ios > h3 {
    text-align: center;
}

a {
    position: relative;
    z-index: 900;
}

ul.weeks-tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2vh;
    margin-right: 2vh;
}

ul.weeks-tab li {
    float: left;
    padding: 1vh 5vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: none;
}

ul.weeks-tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

ul.weeks-tab li.selected {
    background-color: white;
}

ul.weeks-tab li.selected a {
    color: black;
}

.weeks-content {
    border-top: 1px solid white;
    display: inline-block;
    width: 100%;
    padding: 0;
    padding-left: 2vh;
    padding-right: 2vh;
}

.arrows:hover {
    cursor: pointer;
    cursor: hand;
}

.week-game {
    text-align: center;
    display: block;
    position: relative;
    z-index: 901;
}

.week-game > img {
    margin: 0;
    display: inline-block;
    padding: 0;
    max-width: 52vh;
    min-width: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
    vertical-align: top;
    overflow-x: visible;

    transition-duration: 0.5s;
    transition-property: transform;
    transform-style: linear;
}

.week-game > img:hover {
    transform: scale(1.5);
}