.intro-header {
    padding-top: 0%;
    padding-bottom: 0px;
    text-align: center;
    background: #1f1f1f url(../img/code.jpg) no-repeat center -8em;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.intro-divider {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.nav-bar {
    width: 100%;
    background: url(../../img/nav-bar-bg.png);
    position: absolute;
    z-index: 999;
    vertical-align: bottom;
}

.projects {
    display: block;
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    overflow-x: hidden;
}

img {
    width: 75%;
    padding: 2%;
    margin: 0px;
}

.previous {
    text-align: center;
    display: inline;
    position: relative;
    margin-top: 20%;
}

.previous > div { 
    width: 100%;
    display: inline;
}

.previous > h1 {
    display: inline;
}


img.previous {
    vertical-align: top;
    width: 5%;
    padding: 0;
}

.projects-ios {
    display: inline;
    position: relative;
    text-align: left;
    float:center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}

.projects-ios-hide {
    display:none;
}

.tweak {
    margin: 0px;
    text-align: center;
    float:center;
    display: inline-block;
    width: 22.17%;
    padding:0;
    vertical-align: top;
}

.tweak > a {
    display: inline-block;
}

.tweak > h5{
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.tweak > h3 {
    text-align: center;
}